.input_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.label {
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    margin-bottom: 9px;
}

.input {
    padding: 10px;
    font-weight: 700;
    color: var(--button-to-buy);
    outline: none;
    border: 1px solid var(--button-to-buy);

    &.error {
        border-color: var(--badge-bg);
        color: var(--badge-bg);
    }
}

.span_error {
    color: var(--badge-bg);
    font-weight: 700;
    font-size: 8px;
    margin-top: 9px;
    max-width: 176px;
}